@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --primary-color: #4daf54;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background: linear-gradient(to right, #4daf54, #3d8880);
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

.card {
    margin: 120px auto;
    width: 320px;
    height: 434px;
    border-radius: 15px;
    padding: 40px 20px;
    color: white;
    background: #272d40;
    position: relative;
}
.card__heart, .card__cart {
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 15px;
    cursor: pointer;

}

.card__cart {
    left: unset;
    right: 20px;
}

.card__img {
    width: 90%;
    transition: 0.5s;
}

.card__img img {
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
}

.card__title, .card__price {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;

}

.card__title {
    color: var(--primary-color);
}

.card__size, .card__color {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card__size h3, .card__color h3 {
    margin-right: 12px;
}

.card__size span {
    padding: 2px 8px;
    background: #dadada;
    color: black;
    border-radius: 5px;
    margin: 0 6px;
    cursor: pointer;

}

.card__color span {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;

}

.card__color-green {
    background-color: green;
}
.card__color-red {
    background-color: red;
}
.card__color-black {
    background-color: black;
}

.card__action button{
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 5px;
    transition: 0.25s;
    cursor: pointer;
}

.card__action button:hover {
    transform: scale(0.9);
}

.card:hover .card__img {
    transform: translateY(-90px) rotate(-20deg);
}

.card:hover .card__title,  .card:hover .card__price{
    transform: translate(-35px, -70px);
}

.card:hover .card__price {
    transform: translate(-112px, -72px);
}

.card__size {
    margin-top: 150px;
}

.card__size, .card__color, .card__action { 
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.4s;
}

.card:hover .card__size,
.card:hover .card__color,
.card:hover .card__action {
    visibility: visible;
    opacity: 100;
}

.card:hover .card__size {
    margin-top: 0px;
}
